/node_modules
/storage/*.key
/vendor
/kurs/_hints.txt
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
perms

# extra
/.idea
.DS_Store
/.editorconfig
/.htaccess
/public/js
/public/css
/public/hot
/public/fonts
/public/webfonts
/public/storage
/.phpstorm.meta.php
/.styleci.yml
/_ide_helper.php
/package-lock.json
/public/mix-manifest.json
/composer.lock
