// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~include-media/dist/_include-media';

i.fas,i.far {
    display: inline;
    margin-right: 5px;
}
.invalid-feedback {
    display: block;
}
.fa-check {
    color: #090;
}
.fa-times {
    color: #c00;
}
table {
    &.routes {
        tr {
            td {
                font-size: 0.7rem;
                &:first-child {
                    font-weight: bold;
                    color:red;
                }
            }
        }
    }
}
.navbar {
    &.navbar-expand-md {
        .navbar-nav {
            .nav-item {
                &.active {
                    a {
                        color: #c00;
                        font-weight: bold;
                        @include media("<tablet") {
                            color: green;
                        }
                    }
                }
                .nav-link {
                }
                &.spacer {
                    width: 0.8rem;
                }
                &.lang-switch {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;

                    .nav-link {
                        display: inline-block;
                        clear: none;
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 0;
                        padding-right: 0;
                        &.active {
                            font-weight: bold;
                        }
                        &.pipe {
                            text-align: center;
                            margin-left: 0.2rem;
                            margin-right: 0.2rem;
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                    .nav-link:last-child {
                        &.pipe {
                            display: none;
                        }
                    }
                }
            }
            &.right {
                position: absolute;
                right: 1.0rem;
            }
        }
    }
}
